nav{
    border-bottom: 1.5px solid rgb(76, 76, 76);
    background-color: #202124;
    box-shadow: 0px 2px 4px black;
}

.container-fluid {
    padding: 0px 8px;
}

.navbar-brand{
    color: #ffffffde;
}

.navbar-brand:hover {
    color: #ffffffde;
}

.svgDiv {
    padding: 12px;
    cursor: pointer;
}

.svgDiv:hover {
    background-color: #ffffff26;
    border-radius: 25px;
}

svg {
    width: 24px;
    height: 24px;
}

.inputDiv {
    background-color: #ffffff54;
    border-radius: 10px;
}

.nav-input {
    height: 48px;
    min-width: 40vw;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffffde;
}

.inputSvgDiv {
    padding: 8px 12px;
}

::placeholder {
    color: #ffffffde;
}

.placeholder {
    width: 100vw;
    height: 68px;
    background: transparent;
    /* z-index: -1000; */
}

.loadingGif {
    filter: brightness(70%);
    transition: opacity 0.5s;
}